@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
}

body {
  background-color: #EAEAEA;
}

.card_container {
  margin: 10px auto;
  width: 90%;
  max-width: 1600px;
  min-width: 370px;
}

.card_section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 265px;
  height: 360px;
  margin: 15px;
  border: 5px solid #8abdd2;
  border-radius: 5px;
  cursor: pointer;
}

.img_card {
  margin: 7px;
  width: 250px;
  height: 270px;
  border-radius: 5px;
  background-position: 50% 60%;
  background-size: cover;
  object-fit: cover;
}

.img_name {
  margin: 0px 7px 7px 7px;
  width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  padding-top: 0px;
}

.img_name > h1 {
  margin: 0px;
  text-align: center;
  padding: 10px;
}

.index_image {
  cursor: pointer;
}

.index_image {
  margin-bottom: 50px;
}