body {
    background-color: #EAEAEA;
}

nav {
    background-color: grey;
    height: 100px;
}

#back {
    display: flex;
    justify-content: space-between;
}

#container,
#container2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#img {
    width: 100px;
    height: 100px;
    margin-left: 280px;
    margin-top: 70px;
}

#img img {
    width: 450%;
    height: auto;
    border-radius: 10px;
}

#info {
    display: flex;
    flex-direction: column;
    padding-top: 52%;
}

#info span {
    background-color: #CCE2EB;
    width: 330px;
    border: 2px solid #344952;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

#container {
    margin-right: 100px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70%;
    margin-left: 49%;
}

#info2 {
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

#info2 span {
    background-color: #CCE2EB;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #344952;
    border-radius: 5px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

#q {
    color: #1A6EEB;
}
